name: Pre-Push Actions

on:
  push:
    branches:
      - main
  pull_request:
env:
  GOUDA_SERVICE_URL: ${{ secrets.GOUDA_SERVICE_URL }}

jobs:
  lint-and-test:
    name: lint-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          persist-credentials: true
          token: ${{ secrets.GH_TOKEN }}

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: |
          npm config set '//registry.npmjs.org/:_authToken' "${{ secrets.NPM_AUTH_TOKEN }}" \
          && yarn install --frozen-lockfile

      - name: Run linters
        run: yarn lint

      - name: Run swagger validation
        uses: readmeio/rdme@v8
        with:
          rdme: openapi:validate swagger.json

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Create Env File
        run: |
          touch .env
          echo "LABS_COSIGNER=0x0000000000000000000000000000000000000000" > .env
          echo "LABS_PRIORITY_COSIGNER=0x0000000000000000000000000000000000000000" >> .env
          echo "KMS_KEY_ID=testtest" >> .env
          cat .env

      - name: Check test coverage
        run: yarn coverage
